@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap');

body{
  font-family: 'Oswald', sans-serif;
}

/* ----------Menu inicio---------- */
.cabeçalho{
  background-color: rgb(78, 32, 1);
  overflow: hidden;
}
.logo{
  padding: 10px 15px;
}
.cabeçalho nav{
  display: flex;
  justify-content: space-between;
}
.cabeçalho ul{
  display: flex;
  padding: 40px;
}
.cabeçalho li a{
  color: rgb(255, 255, 255);
  text-decoration: none;
  font-size: 20px;
  padding: 30px;
}
.cabeçalho li a:hover{
  transition: 0.5s;
  background-color: rgb(0, 0, 0);
}
/* ----------Menu fim---------- */

.principal{
  min-height:calc(100vh - 40px);
}
.contatoMain h1{
  color: rgb(78, 32, 1);
  font-weight: bold;
  font-size: 35px;
  margin: 20px;
  text-align: center;
  
}
.contatoMain h2{
  margin: 25px;
  font-size: 20px;
  text-align: center;
}

/* ----------Formulário inicio---------- */
.formSection{
  padding: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.formulario label, input, textarea, select{
  display: block;
  margin: 10px;
  font-size: 17px;
  resize: none;
  box-sizing: border-box;
}
/* ----------Formulário fim---------- */
.info{
  display: flex;
  text-align: center;
  align-items: center;
}
.info img{
  height: 450px;
  border-radius: 30px;
  margin: 0 100px;
  box-shadow: 0 0 30px rgb(78, 32, 1);

}
.info h1{
  font-size: 20px ;  
  font-weight: bold;
  color: rgb(78, 32, 1);
}
.info p{
font-size: 17px;
margin: 12px;
}
.info i{
  color: black;
  font-size: 30px;
  padding: 5px;
}
/* ----------Rodapé inicio---------- */
.rodape{
  background-color: rgb(78, 32, 1);
  padding: 10px;
}
.rodape address p{
  color: white;
  font-size: 20px;
  text-align: center;
  padding: 2px;
  font-weight: lighter;
}
.rodape address h1{
  color: white;
  font-size: 20px;
  text-align: center;
  font-weight: bold;
  padding-bottom: 15px;
}
/* ----------Rodapé fim---------- */