@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap');

body{
  font-family: 'Oswald', sans-serif;
}

/* ----------Menu inicio---------- */
.cabeçalho{
  background-color: rgb(78, 32, 1);
  overflow: hidden;
}
.logo{
  padding: 0px 15px;
}
.cabeçalho nav{
  display: flex;
  justify-content: space-between;
}
.cabeçalho ul{
  display: flex;
  padding: 30px;
}
.cabeçalho li a{
  color: rgb(255, 255, 255);
  text-decoration: none;
  font-size: 20px;
  padding: 30px;
}
.cabeçalho li a:hover{
  transition: 0.5s;
  background-color: rgb(0, 0, 0);
}

/* ----------Menu fim---------- */
.contatoMain h1{
  color: rgb(78, 32, 1);
  font-weight: bold;
  font-size: 35px;
  padding: 10px;
  text-align: center;

}
.contatoMain h2{
  padding-bottom: 10px;
  font-size: 20px;
  text-align: center;
}
.formSection{
  padding-top: 20px;
  display: flex;
  justify-content: center;
}
.info{
  display: flex;
}
.info img{
  height: 500px;
  border-radius: 30px 30px;
  margin: 0 100px;
  box-shadow: 0 0 30px rgb(78, 32, 1);

}
.info p{
  font-size: 20px ;
}
.formulario label, input, textarea, select{
  display: block;
  margin: 10px;
  resize: none;
  box-sizing: border-box;
}
/* ----------Rodapé inicio---------- */
.rodape{
  background-color: rgb(78, 32, 1);
  padding: 10px;
}
.rodape address p{
  color: white;
  font-size: 20px;
  text-align: center;
  padding: 2px;
  font-weight: lighter;
}
.rodape address h1{
  color: white;
  font-size: 20px;
  text-align: center;
  font-weight: bold;
  padding-bottom: 15px;
}
/* ----------Rodapé fim---------- */